@use '../abstracts/variables' as *;

.add-page {
  .form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
}
